#Jarmy {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
color: blue;
border: 10px solid;
border-color: black;
padding: 30%;
margin: 2px;
background-image: url('https://www.dndbeyond.com/avatars/thumbnails/47139/255/1000/1000/638741964656536353.jpeg');
}

#Big {
  display: flex;
  align-items: center;
  justify-content: center;
  color: green;
  border: 10px solid;
  border-color: black;
  padding: 30%;
  margin: 2px;
  background-image: url('https://www.dndbeyond.com/avatars/thumbnails/30834/149/1000/1000/638063882505895317.png');
}

body {
  
    margin: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  #Ship {
    color: goldenrod;
border: 10px solid;
border-color: black;
padding: 30%;
margin: 2px;
background-image: url('https://upload.wikimedia.org/wikipedia/en/6/60/Beholder_%28D%26D%29.JPG');
background-repeat: no-repeat;
background-size: contain ;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column-reverse;



  }

